.cardbackground {
        width: 100vw;
        height: 100vh;
        background-color: rgba(200, 200, 200);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        top: 0
      }
      .cardcontainer  {
        width: 500px;
        height: 500px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        z-index: 10;
        align-items: center;
      }

.cardcontainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
  width: 200px;
}
.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }